* {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
    background-color: pink;
    color: blue;
    font-size: 69px;
    width: 1000px;
    height: auto;
}

body {
    background-image: url("https://t3.ftcdn.net/jpg/02/95/44/22/360_F_295442295_OXsXOmLmqBUfZreTnGo9PREuAPSLQhff.jpg");
}